<%= form_for([@poll, @poll.users.build]) do |f| %>

  <% if alert %>
      <div id="error_explanation">
      <h2> Error prohibited this user from being saved </h2>
      <ul>
        <% alert.each do |error| %>
          <li><%= error %></li>
        <% end %>
      </ul>
      </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>

  
<% end %>